BODY {
	margin: 0px;
	padding: 0px;
	background-color: #faf9ef; 
	font: 15px/normal "trebuchet ms",verdana,sans-serif;
}

.Laygen {
background: #cabfd0 70% top;
border:solid 1px black;
padding: 10px 10px 10px 10px;
}

* html .Laygen {padding-top: 10px;}

.Laygen LEGEND {
font-style: italic;
font-weight: bold;
color: #352E46;
}

.Section {width: 510px;} 
* html .Section {width: 520px;}
.SectionLink {margin: 10px 0px 0px 10px;}
.SectionLink TD {
	position: relative; /* Set containing block for tooltips */
	padding: 3px 0px 2px 0px ! important; 
	background-position: left top; 
	background-repeat: no-repeat; 
	text-align: center; 
	width: 100px; 
	border-bottom: 1px solid whitesmoke;
}
.SectionLink A {
	display: block; 
	width: 100%;
	text-decoration: none; 
	background-image: none; 
	font-size: 13px;
	color: black;
}

.SectionLink A:link, .SectionLink A:link {-moz-outline: 0px;} /* Hide dotted line on click in Firefox */
.SectionLinkEnd {width: 90px ! important;}
* html .SectionLinkEnd {width: 100px ! important;}
.SectionWrapper {
	padding: 5px ! important; 
	height: 230px; 
	vertical-align: top;
}
.TableRadioBttns {width: 200px; float: right;}

.TweaksDefTD {font-style: italic;}

.Tooltip {
position: absolute;
padding: 3px;
margin-top: 10px;
font: 12px/normal arial,helvetica,sans-serif;
width: 300px;
border: 1px solid black;
background: #ffffe1;
top: 0px; /* Mozilla only */
z-index: 2;
}

* html .Tooltip {
top: -52px;
}

.HelpLink {
font-weight: normal;
font-style: italic;
font-size: 11px;
font-family: arial;
}

/* TESTING */
/* .Section {border: 1px solid green;}
.SectionWrapper { border: 1px solid red;} */

.LayoutForm {margin-bottom: 10px;}

.LayoutForm TD {
padding: 7px;
font-size: 14px;
font-family: arial;
} 
.PickLink {font-size: 12px; font-family: arial;}
.PickLink A {font-size: 12px; font-family: arial;}
/* Resize font in Quick Presets for Firefox so background section isn't too tall */
.PickLink .Presets A {font-size: 11px; font-family: arial;}
/* Reset for IE */
* html .PickLink .Presets A {font-size: 12px; font-family: arial;}


A {color: #003c77; background: inherit; font-weight: bold;}

.ColorPickTable TD {font-size: 12px; font-family: arial; width: 12px; height: 12px;}
.ColorPickTable TD A {display: block;}
#colorPickerSelectedColorValue {text-indent: 3px; text-align: left;}

.LayoutForm TD.Specs {padding-top: 3px ! important; padding-bottom: 3px ! important;}

.ReadOnly {background: #cabfd0; cursor: pointer;}

.ButtonStyle01Bold {
	background: url(~/images/buttonstyle01.gif);
	color: inherit;
	vertical-align: middle;
	font: 13px arial,helvetica,sans-serif;
	font-weight: bold;
	width: 220px;
}
* html .ButtonStyle01Bold {
	padding-top: 3px;
}

.ButtonStyleReset {
	width: 80px; 
	color: white;
	background-image: none; 
	background-color: #9A4040;
	vertical-align: middle;
	font: 13px arial,helvetica,sans-serif;
	font-weight: bold;
}

#QuickPreview {
width: 400px; 
height: 160px;
vertical-align: top; 
background-color: white;
background-position: center top;
margin-bottom: 0px;
padding: 10px 10px 10px 20px;
font-size: 12px;
overflow: auto;
border: 1px solid gainsboro;
}
* html #QuickPreview {width: 400px;} /* IE only */
/* Fix overflow: auto; bug in Opera by explicitly setting scrollbars and setting padding to 0px */
@media all and (min-width: 0px) {
#QuickPreview {overflow: scroll; height: 120px;}
/* Fix Dropdown menu table cell height in Opera */
.LayoutForm TD.Specs {height: 35px;}
}

#PreviewTable {
float: left;
width: 335px;
background: mintcream;
border: 3px outset darkturquoise;
padding: 5px;
}

.PrvBlock {border: 1px solid black;}

/* BEGIN RGB CSS */

/* .RGBdiv TABLE TD {outline: 1px solid red;} */

.ValueBox {vertical-align: top; width: 30px;}
.ValueBox INPUT {width: 30px;}

.form_widget_amount_slider{
border-top: 1px solid #9d9c99;
border-left: 1px solid #9d9c99;
border-bottom: 1px solid #eeeeee;
border-right: 1px solid #eeeeee;
background-color: #f0ede0;
height: 3px;
position: absolute;
bottom: 0px;
}

#colorPreview2 {width: 90px;}

#colorCode2 {
width: 90px;
margin-left: auto;
margin-right: auto;
padding: 2px; 
font-size: 11px; 
vertical-align: middle; 
background-color: #ffffff; 
border: 1px solid #000000;
text-align: left;
}

.ColorLabel {
width: 45px;
height: 30px;
font: normal normal 13px/normal arial,helvetica,sans-serif;
}
#slider_target1, #slider_target2, #slider_target3 {background-repeat: no-repeat; background-position: 1px 5px; width: 280px;}
#slider_target1 {background-image: url(~/images/hsv_color_bar.gif);}
#slider_target2 {background-image: url(~/images/saturation.jpg);}
#slider_target3 {background-image: url(~/images/greyscale_bar.jpg);}

/*
OPERA BUGS with RGB slider
1) The position: relative; property-value pair causes a malfunctioning of the dynamically-set colorPickerSelectedColorValue TD cell in the Color Picker. This property must be set to static dynamically when RGB slider is closed)
2) Image handle malfunctions if padding-top is not set to at least 1px. Another fix is to set the border to 1px solid but this is undesirable.
*/
#SetPosition {position: relative; padding-top: 1px;}

.RGBdiv {
position: absolute; 
background: white;
border: 1px solid black;
top: 0px; 
left: 7px; 
z-index: 2;
margin-bottom: 0px;
/* width: 480px; */
width: 550px;
}

.RGBdiv FORM {margin-bottom: 5px;}
.RGBdiv TABLE {width: 535px; margin: 10px;}

.rgbAction {
padding-top: 10px; font-size: 13px; font-family: arial,helvetica,sans-serif; text-align: center;
}
#rgbHelper {display: none; font-family: arial,verdana,sans-serif; font-size: 13px; width: 540px; height: 190px; padding: 20px 5px 5px 5px; overflow: auto; border-top: 1px solid gray;}

.ShowRGB .RGBdiv {display: block;}
.HideRGB .RGBdiv {display: none;}

/* BEGIN DROPDOWN MENU CSS */

.ddMenuWrapper {
height: 28px;
/* border: 1px solid green;  */   
}
* html .ddMenuWrapper {margin-top: 5px;}
/* Needed to correct vertical shimmy bug in Opera */
@media all and (min-width: 0px) {
.ddMenuWrapper {height: 29px;}
}

.ddMenuWrapper INPUT {
	height: 19px;
	width: 120px; 
	padding: 0px 0px 0px 3px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 0px;
 	margin-top: 5px; 
}
/* Correct settings for IE7
.ddMenuWrapper INPUT {
	height: 17px;
	margin-top: 0px;
} */

* html .ddMenuWrapper INPUT {height: 17px; margin-top: 1px;}
.ddMenuWrapper IMG {margin-bottom: 9px;}
* html .ddMenuWrapper IMG {margin-bottom: 4px;}
@media all and (min-width: 0px) {.ddMenuWrapper IMG {margin-bottom: 0px;}} 
/* margin-bottom originally set at 5px before release of Opera 9 */

#ffDropdown, #fsDropdown, #bsizeDropdown, #bstyleDropdown {
position: absolute; 
display: none;
top: 24px;
left: 0px;
width: 135px;
border-top: 1px solid gray;
border-left: 1px solid gray;
border-bottom: 1px solid black;
border-right: 1px solid black;
background: white;
color: inherit;
z-index: 3;
}
* html #ffDropdown, * html #fsDropdown, * html #bsizeDropdown, * html #bstyleDropdown {top: 21px;}
@media all and (min-width: 0px) {#ffDropdown, #fsDropdown, #bsizeDropdown, #bstyleDropdown {width: 140px;}
/* Keep sliders from jamming into preview box on right side */
.RGBdiv TD INPUT {margin-left: 10px;}
}

.ddMenu A {
display: block;
width: 133px;
font: normal normal 14px/normal arial,helvetica,sans-serif;
text-decoration: none;
color: black;
background: transparent;
padding-left: 3px;
font-size: 14px;
/* border: 1px solid red; */
}
* html .ddMenu A {width: 136px;}
@media all and (min-width: 0px) {.ddMenu A {width: 138px;}}

.ddMenu A:hover {background: navy; color: white;}

.dividerTD {height: 5px; padding: 0px 0px 0px 10px ! important;}
.dividerLine {height: 1px; width: 500px; line-height: 1px;}
* html .dividerLine {width: 510px;}

* html .Presets {margin-bottom: 3px;}

