/****** Object:  User [HOME-DMGJNXY0QM\ASPNET]    Script Date: 09/25/2007 20:39:40 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'HOME-DMGJNXY0QM\ASPNET')
CREATE USER [HOME-DMGJNXY0QM\ASPNET] FOR LOGIN [HOME-DMGJNXY0QM\ASPNET] WITH DEFAULT_SCHEMA=[dbo]
GO
