/****** Object:  User [SMART-C3W3BQK6B\ASPNET]    Script Date: 09/25/2007 20:39:40 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'SMART-C3W3BQK6B\ASPNET')
CREATE USER [SMART-C3W3BQK6B\ASPNET] WITH DEFAULT_SCHEMA=[dbo]
GO
